{% extends "movies/base.html" %}

{% block content %}

<div class="container mx-auto px-4 py-6">
  <div id="artworks-container" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
    {% for movie in movies %}  
    <div class="flex flex-col">
      <!-- Poster -->
      <div>
        <a href="/movies/{{movie.id}}">
  <img
    class="w-full h-auto rounded-lg object-cover object-center hover:opacity-90 transition"
    src="https://image.tmdb.org/t/p/w600_and_h900_bestv2/{{movie.poster_path}}" 
    alt="{{movie.title}}" />
</a>

      </div>

      <!-- Info -->
      <div class="mt-2">
        <a href="/movies/{{movie.id}}" 
           class="block truncate text-sky-600 font-bold text-sm sm:text-base lg:text-lg">
          {{movie.title}}
        </a>
        <span class="block text-gray-400 text-xs sm:text-sm font-thin">
          {{movie.release_date}}
        </span>
      </div>
    </div>
    {% endfor %} 
  </div>

  <div class="flex justify-center mt-6">
  <button class="w-full md:w-48 rounded-md
          bg-indigo-600 px-4 py-2 text-sm sm:text-base font-semibold text-white
          shadow-sm hover:bg-indigo-500 focus:outline-none"
          hx-get="/movies/random" hx-target="#artworks-container" hx-swap="beforeend">
    Get More Movies
  </button>
</div>

</div>

{% endblock content %}
